* {
    box-sizing: border-box;
}

.header {
    padding: .5rem;
    width: 100%;
}

.header img {
    border-radius: 50%;
    margin-left: 18%;
}

.header-content {
    text-align: center;
    margin-top: 2%;
}

.header a {
    margin-left: 30%;
    margin-top: 10%;
}

.second-content .left,
.middle,
.right {
    margin-top: .3%;
    padding: 2.5rem;
}

.edu {
    padding: 2.5rem;
}

.footer {
    background: black;
    color: white;
}

.contact {
    list-style-type: none;
}

.contact li {
    display: block;
    float: left;
    margin-right: 10px;
}

.contact a {
    color: white;
}